html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  background: #737b4f;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  width: 100%;
  background: #8F9779;
}

.header-info {
  display: flex;
  max-width: 1440px;
  margin: 25px auto;
}

.header-info img {
  max-width: 196px;
  padding-left: 20px;
}

h1 {
  font-family: "Figtree", sans-serif;
  display: flex;
  justify-content: center;
  color: rgb(255, 254, 254);
}

.picture {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 40px;
}

.picture img {
  max-width: 194px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px black;
  padding: 5px;
  background: #8F9779;
}

.picture img:hover {
  filter: grayscale(1);
  transform: scale(1.03);
  cursor: pointer;
}

footer {
  display: flex;
  height: auto; 
  background: #8F9779;
  margin: 0;
  width: 100%;
  align-items: center;
  padding: 10px 0;
  margin-top: 30px;
  justify-content: center;
}

.footer-content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

dialog {
    border: none;
    padding: 0;
    background: transparent;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

.dialog img {
    max-width: 80vw;
    max-height: 80vh;
    display: block;
    margin: auto;
    border-radius: 8px;
    border-color: #737b4f;
}

.close {
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 28px;  
    color: white;
    cursor: pointer;
    background-color: #737b4f;
    border-color: #8F9779;
    border-radius: 8px;
    
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 8px;
    margin-top: 15px;
}

.nav {
    top: 50%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    background-color: #737b4f;
    border-color: #8F9779;
}

p {
  font-family: "Figtree", sans-serif;
}

.back { left: 30px; }
.next { right: 30px; }

@media (min-width: 1440px) {
  .picture img {
    max-width: 210px;  
  }
}

@media (max-width: 463px) {
  .picture img {
    max-width: 110px;   
  }
}
